
.about {
    padding: 3%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: cadetblue;
}

.title {
    padding: 5%;
}

.img {
    width: 100px;
    height: 90px;
    margin-bottom: 15%;
}

.git {
    width: 30px;
    height: 20px;
}

.git-name {
    color: whitesmoke;
}

.linke {
    width: 30px;
    height: 20px;
}

.linke-name {
    color: whitesmoke;
}

.home {
    width: 60px;
    height: 50px;
    margin-top: 10%;
}

.home-name {
    color: whitesmoke;
}